:root {

    --gray-50: #F1F1F1;
    --gray-100: #A5A5A5;
    --gray-800: #464646;
    --gray-900: #262626;

    --backgroun: linear-gradient(to right, #262626, #333333);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body {        
    background: var(--backgroun);

    font: 400 1rem "Roboto", sans-serif;
    color: var(--gray-50);
}

.container {
    max-width: 1080px;

    height: 100vh;

    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;      
    
    background: url('/assets/img-back.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;    
}


@media (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media (max-width: 720px) {
    html {
        font-size: 87.5%;
    }

    
}
